/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


@import "compass/css3";
a{
	color: #deefef;
	cursor: pointer;
	text-decoration: none;

}
.btn-alt {
  margin: 10px;
  margin-bottom: 15px;
  border: 2px solid #6eaad3;
  padding: 5px 20px;
  background-color: rgba(110,170,211,0.85); 
       transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
}

.btn-alt:hover {
  background-color: rgba(110,170,211,1.0);
      transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#buttonHolder{
  max-width: 50%;
  margin-left: 25%;
}
@media all and (max-width: 1000px) {
#buttonHolder{
  max-width: 70%;
  margin-left:15%;
}
}
/*
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
*/

@import "compass/css3";

.navigation {
  list-style: none;
  margin: 0; 
  
  background: transparent;
  
  display: -webkit-box;
  	display: -moz-box;
  		display: -ms-flexbox;
  			display: -webkit-flex;
  				display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  padding: 15px;
  padding-right: 3%;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #deefef;
  font-size: 20px;
  font-family: 'Oswald', sans-serif; font-weight: 300;
       transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
}
.navigation a:hover{
  color: #fff;
      transform: scale(1.10);
    -ms-transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -o-transform: scale(1.10);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
   .navigation li:first-of-type a {
    border-top: none;
  }
}

h1 {
	color:#deefef;
	font-size: 85px;
	font-family: 'Lato', sans-serif; font-weight: 100;
	line-height: 100px;
	text-align: center;
  padding-top:100px;
  padding-bottom: 50px;
}
h2 {
	color: #deefef;
	font-size: 35px;
	font-family: 'Oswald', sans-serif; font-weight: 300;
	line-height: 60px;
	text-align: center;
  padding: 40px 0;
}
@media all and (max-width: 600px) {
  h1{
    padding-bottom:20px;
    padding-top: 40px;
    font-size: 70px;
  }
  h2{
    padding: 20px 0;
  }
}
h3 {
	color: #1b3455;
	font-size: 32px;
	font-family: 'Lato', sans-serif; font-weight: 100;
	text-align: center;
	margin-top: 20px;
  margin-bottom: 20px;
}
h4 {
	color: #deefef;
	font-size: 24px;
	font-family: 'Lato', sans-serif; font-weight: 300;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
}
figcaption {
  color: #1b3455;
  font-size: 20px;
  font-family: 'Lato', sans-serif; font-weight: 300;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}
.match {
  color: #1b3455;
  font-size: 20px;
  font-family: 'Lato', sans-serif; font-weight: 300;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}
#ATop {
	 background: url("pics/map.png") no-repeat center center;
	 background-clip: padding-box;
  		-webkit-background-size: cover;
 			 -moz-background-size: cover;
 				 -o-background-size: cover;
 	 background-size: cover;
}
#About {
	background: #fff;
  padding: 20px;
}
#AResume{
  margin-right:5px;
	background: url("pics/resume2.png") no-repeat center center;
    background-clip: padding-box;
      -webkit-background-size: cover;
 		-moz-background-size: cover;
  			-o-background-size: cover;
  	background-size: cover;
      /*box-shadow: 10px 10px 5px #888;*/
      padding-top: 20px;
}
#APortfolio{
  padding: 20px 0;
}
p{
	display: block;
	font-family: "EB Garamond", serif;
	color: #1b3455;
}
footer{
	clear: both;
	background: #6eaad3;
}
.grid {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-container {
 
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-wrap: wrap;
}
.port {
  padding: 10px;
  width: 270px;
  height: 270px;
  margin: 10px;
  margin-top: 0;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */

}

/* Disable grayscale on hover */
.port:hover {
  filter: none;
  -webkit-filter: grayscale(0);

}

figure{
     transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
}
figure:hover{
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}
/*.col-1-3 {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
}
*/
strong {
  font-weight: 400;
}
em {
  font-style: italic;
}
/*
*(
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}
*/
h6 {
	color: #fff;
	font-size: 15px;
	font-family: 'Lato', sans-serif; font-weight: 300;
	line-height: 30px;
	text-align: center;
	padding:10px;
}

#arrow-btn{
	margin: 25px 0;
	height: 60px;
	width: 60px;
  text-align:center;
  opacity:0.9;
}
.highlight:hover{
  margin-bottom: 30px;
  text-align:center;
   -moz-border-radius: 80%; 
    -webkit-border-radius: 80%; 
    border-radius: 80%;
  background-color: rgba(255,255,255,0.2);
}
.highlight2:hover{
   -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
  background-color: rgba(255,255,255,0.5);
}
.textbox{
  text-align: justify;
	max-width: 100%;
	padding-left: 20%;
  padding-right: 20%;
	margin-bottom: 20px;
}

@media all and (max-width: 800px) {
  .textbox {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}
.icon{
  margin: 5px;
  margin-top: 5px;
}
.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 80px;
}
.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}
.carousel-indicators {
  bottom:-50px;
}
.carousel-inner {
   margin-bottom:50px;
}
.tales {
  width: 100%;
}
.carousel-inner{
  width:100% !important;
}
.modal-open .modal .btn:focus{
  outline:none;
}